<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzSPe73FX6l6Wk10nhYA6pLHFFq1ntzAE</string>
	<key>GCM_SENDER_ID</key>
	<string>300780345336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.clubconnect</string>
	<key>PROJECT_ID</key>
	<string>clubconnect-63eaf</string>
	<key>STORAGE_BUCKET</key>
	<string>clubconnect-63eaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300780345336:ios:b31600afe9f6c10699e80d</string>
</dict>
</plist>